{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}

{% for menuitem in menuitems %}
    <li class="nav-item {{ menuitem.title|lower|cut:" " }}{% if menuitem.active %} active{% endif %}{% if menuitem.show_dropdown %} has-submenu{% endif %}">
        {% if menuitem.show_dropdown %}
            <li class="nav-item{% if menuitem.active %} active{% endif %}">
                {% if menuitem.show_dropdown %}
                    <a class="nav-link dropdown-toggle" href="{{ menuitem.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menuitem.title }}</a>
                    {% top_menu_children parent=menuitem %}
                {% else %}
                    <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.title }} <span class="sr-only">(current)</span></a>
                {% endif %}
            </li>
        {% endif %}
    </li>
{% endfor %}