{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %} | fourfridays
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href='//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:700|Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/fourfridays.css' %}">
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <header>
            {% block menu %}

            {% endblock %}
        </header>

        <main class="container" role="main">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="col-md-6 hidden-xs">
                <ul class="footerLeft">
                    <li><a onclick="_gaq.push(['_trackEvent', 'footer links', 'facebook', 'clicked',, false]);" href="https://www.facebook.com/fourfridays/"><i class="fa fa-facebook"></i><span class="btn-label">Facebook</span></a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'footer links', 'twitter', 'clicked',, false]);" href="https://twitter.com/fourfridays"><i class="fa fa-twitter"></i><span class="btn-label">Twitter</span></a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'footer links', 'linkedin', 'clicked',, false]);" href="http://www.linkedin.com/pub/umair-abbasi/43/875/537/"><i class="fa fa-linkedin"></i><span class="btn-label">Linkedin</span></a></li>
                    <li><a onclick="_gaq.push(['_trackEvent', 'footer links', 'flickr', 'clicked',, false]);" href="http://www.flickr.com/photos/fourfridays"><i class="fa fa-flickr"></i><span class="btn-label">Flickr</span></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 footerRight">
                <ul>
                    <li><a href="mailto:umair.abbasi@fourfridays.com">umair dot abbasi at fourfridays.com</a></li>
                    <li class="copyright">Copyright 2017 Umair Abbasi</li>
                    <li class="links">
                    <a class="text-muted" onclick="_gaq.push(['_trackEvent', 'footer links', 'styleguide', 'clicked',, false]);" href="/style-guide/"> Style Guide</a> 
                    •
                    <a class="text-muted" onclick="_gaq.push(['_trackEvent', 'footer links', 'privacy policy', 'clicked',, false]);" href="//www.iubenda.com/privacy-policy/191063" title="Privacy Policy">Privacy Policy</a><script src="//cdn.iubenda.com/iubenda.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                    </li>
                </ul>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="js/fourfridays.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>