<div class="row">
    <div class="col-xs-12 col-md-3">
       {% include "includes/streamfield.html" with content=self.left_column_1 only %}
    </div>
    <div class="col-xs-12 col-md-3">
       {% include "includes/streamfield.html" with content=self.left_column_2 only %}
    </div>
    <div class="col-xs-12 col-md-3">
       {% include "includes/streamfield.html" with content=self.right_column_1 only %}
    </div>
    <div class="col-xs-12 col-md-3">
       {% include "includes/streamfield.html" with content=self.right_column_2 only %}
    </div>
</div>