{% load wagtailcore_tags wagtailimages_tags %}

{% image value.image fill-2560x1084-c100 as heroimage %}

<figure {% if value.caption and value.overlay_text %}class="overlay"{% endif %}>
    <img class="img-responsive" src="{{ heroimage.url }}" alt="{{ value.alternate_text }}"/>
    {% if value.caption and value.overlay_text %}
        <figcaption>
            <h2>{{ value.caption }}</h2>
        </figcaption>
        {% if value.photo_credit %}
            <div class="photo-credit">
                <small>{{ value.photo_credit }}</small>
            </div>
        {% endif %}
    {% elif value.caption %}
        <figcaption>
            <small><b>Caption:</b> {{ value.caption }}</small>
        </figcaption>
        {% if value.photo_credit %}
            <div class="photo-credit">
                <small>{{ value.photo_credit }}</small>
            </div>
        {% endif %}
    {% endif %}
</figure>