boto3==1.25.2
Django==4.1.2
django-anymail[mailgun]==8.6
dj-database-url==1.0.0
django-storage-url==0.9.2
django-taggit==3.0.0
fontawesomefree==6.2.0
pillow==9.2.0
psycopg2==2.9.5
sentry-sdk==1.10.1
uWSGI==2.0.21
wagtail==4.0.4
whitenoise==6.2.0