{% extends 'base.html' %}
{% load wagtailcore_tags static %}
{% block body_class %}{{ self.slug }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row row-cols-2 radial-gradient">
            <div class="col-12 offset-xl-1 col-xl-5 col-lg-5">
                <div class="feature-text bg-hanada rounded m-2 m-md-4 p-2 text-white">
                    <div class="content p-lg-3 p-2">
                        <p class="feature-text-1 text-uppercase">Introducing Web Developers for your Business</p>
                        <h2 class="feature-text-2 text-left">Hire Professional <a class="text-django" target="_blank" href="https://wagtail.io/"><u>Wagtail</u></a> and <a class="text-django" target="_blank" href="https://www.djangoproject.com"><u>Django</u></a> Developers</h2>
                        <p class="feature-text-3"><strong>Simple and straightforward,</strong> we manage all your website needs: programming, seo, design, maintenance, accessibility, and analytics.</p>
                    </div>
                </div>
                <div class="container text-center text-white mt-4">
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-2x fa-credit-card mx-4"></i>
                            <div>
                                <h6 class="mt-0 mb-1"><small>Month to Month Payments</small></h6>
                            </div>
                        </div>                        <div class="col">
                           <i class="fas fa-2x fa-code"></i>
                            <div>
                                <h6 class="mt-0 mb-1"><small>Full-Stack Developers</small></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <i class="fab fa-2x fa-docker"></i>
                            <div>
                                <h6 class="mt-0 mb-1"><small><a class="text-white" target="_blank" href="https://www.docker.com/"><u>Docker</u></a> Containers</small></h6>
                            </div>
                        </div>
                        <div class="col">
                            <i class="fab fa-2x fa-python"></i>
                            <div>
                                <h6 class="mt-0 mb-1"><small>Built on Python <a class="text-white" target="_blank" href="https://www.djangoproject.com/"><u>Django</u></a></small></h6>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-10">
                            <table class="table table-striped table-borderless table-sm text-center text-white mt-4">
                                <caption class="d-none">Monthly Pricing</caption>
                                <thead class="table-dark table-active">
                                    <tr>
                                        <th scope="col">Starter<br/><small class="fw-light">per month</small></th>
                                        <th scope="col">Professional<br/><small class="fw-light">per month</small></th>
                                        <th scope="col">Advanced<br/><small class="fw-light">per month</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-white">
                                            <p class="mb-0">40hrs</p>
                                            <h5>$3,500</h5>
                                        </td>
                                        <td class="text-white">
                                            <p class="mb-0">80hrs</p>
                                            <h5>$5,500</h5>
                                        </td>
                                        <td class="text-white">
                                            <p class="mb-0">160hrs</p>
                                            <h5>$9,500</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center text-center my-4">
                    <div class="col-6">
                        <a class="btn btn-primary btn-md" role="button" href="/sales/">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div>
                    <img class="img-fluid d-none d-lg-block" src="{% static 'images/pexels-sunyu-kim-1544880.jpg' %}">
                </div>
            </div>
        </div>
    </div>

    <article class="bg-success text-center py-4">
        <div class="container">
            <div class="row">
                <div class="offset-2 col-8">
                    <h2 class="text-uppercase">Small Nonprofits</h2>
                    <p>We <i class="fas fa-heart"></i> small* nonprofits, and to show our love we don't charge for our web development time. There is a required $14.99 per month hosting and code maintenance fee for our platform.</p>
                    <a class="text-center btn btn-translucent btn-md mb-2" href="/nonprofits/">Learn More</a>
                    <a class="text-center btn btn-translucent btn-md mb-2" href="/sales/">Get Started</a>
                    <p class="mt-4"><small>*less than four paid employees and less than 500 users a day to the website</small></p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}