<footer>
    <div class="row">
        <div class="col-12 col-md-6">
            <ul class="footerLeft">
                <li><a href="/style-guide/">Style Guide</a></li>
                <li><a href="/privacy/">Privacy</a></li>
                <li><a href="/terms/">Terms</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-6">
            <ul class="footerRight pr-4">
                <li class="copyright">&copy; Copyright {% now "Y" %} fourfridays</li>
            </ul>
        </div>
    </div>
</footer>