<div class="row">
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <ul class="list-unstyled ml-sm-4">
            <li class="float-left mr-3"><a href="/style-guide/">Style Guide</a></li>
            <li class="float-left mr-3"><a href="/privacy/">Privacy</a></li>
            <li class="float-left"><a href="/terms/">Terms</a></li>
        </ul>
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <ul class="list-unstyled mr-sm-4">
            <li class="text-brand float-sm-right">&copy; Copyright {% now "Y" %} fourfridays</li>
        </ul>
    </div>
</div>