<div class="row">
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-start">
        <ul class="list-unstyled ms-sm-4">
            <li class="float-start me-3"><a href="/style-guide/">Style Guide</a></li>
            <li class="float-start me-3"><a href="/privacy/">Privacy</a></li>
            <li class="float-start"><a href="/terms/">Terms</a></li>
        </ul>
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <ul class="list-unstyled me-sm-4">
            <li class="text-brand float-sm-end">&copy; Copyright {% now "Y" %} fourfridays</li>
        </ul>
    </div>
</div>