{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% if self.seo_title == 'Home' %}fourfridays{% elif self.seo_title %}{{ self.seo_title }} | fourfridays{% else %}{{ self.title }} | fourfridays{% endif %}{% endblock %}</title>

    {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P3MZNQV');</script>
    <!-- End Google Tag Manager -->

    {# Global stylesheets #}
    <link href='//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:700|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fourfridays.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="https://kit.fontawesome.com/7266fef937.js"></script>

    {% block head-extra %}
    {% endblock head-extra %}
</head>