{% load wagtailcore_tags navigation_tags static %}
{% wagtail_site as current_site %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark p-0" role="navigation">
    <a class="navbar-brand p-0" href="/" title="fourfridays [BETA]"><img class="img-fluid" src="{% static 'images/fourfridays-wordmark.png' %}" alt="fourfridays beta" width="170px"/></a>
    <button class="mx-2 navbar-toggler p-0" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% block main_navigation %}
        <div class="navbar-collapse collapse" id="main-navigation" role="navigation" aria-label="Primary site navigation">
            <ul class="navbar-nav me-auto text-center text-md-left">
<!--                 <li class="nav-item me-md-3 my-1 my-md-0"><a class="nav-link{% if request.path == '/mosque/' %} active{% endif %}" href="/mosque/">Mosque</a></li>-->
                <li class="nav-item me-md-3 my-1 my-md-0"><a class="nav-link{% if request.path == '/for-profit-organizations/' %} active{% endif %}" href="/custom-web-projects/">Custom Projects</a></li>
                {# main_menu is defined in pages/templatetags/navigation_tags.py #}
                {% top_menu parent=current_site.root_page calling_page=self %}
            </ul>
            <ul class="text-center list-unstyled mb-md-0">
                <li><a class="sales-btn btn btn-sm btn-primary text-uppercase me-md-2 mt-3 mt-md-0" href="/sales/" role="button">I am Interested</a></li>
            </ul>
        </div>
    {% endblock %}
</nav>