<article class="{% if self.background_color != 'normal' %}{{ self.background_color }} {% endif %}text-center {% if self.alignment != 'center' %}text-sm-{{ self.alignment }} {% endif %}py-4 py-sm-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                {% include "includes/streamfield.html" with content=self.left_column_1 only %}
            </div>
            <div class="col-12 col-sm-3">
                {% include "includes/streamfield.html" with content=self.left_column_2 only %}
            </div>
            <div class="col-12 col-sm-3">
                {% include "includes/streamfield.html" with content=self.right_column_1 only %}
            </div>
            <div class="col-12 col-sm-3">
                {% include "includes/streamfield.html" with content=self.right_column_2 only %}
            </div>
        </div>
    </div>
</article>