<div class="icon text-center text-sm-{{ self.alignment }}">
    {% if self.icon == 'font-awesome' %}
        <i class="{% if self.font_awesome_icon_choice == 'brand' %}fab{% elif self.font_awesome_icon_choice == 'solid' %}fas{% elif self.font_awesome_icon_choice == 'regular' %}far{% elif self.font_awesome_icon_choice == 'light' %}fal{% endif %} fa-{{ self.name }} {% if self.size %}{{ self.size }}{% endif %}" aria-hidden="true"></i>
    {% elif self.icon == 'material-icon' %}
        <i class="material-icons {% if self.size %}{{ self.size }}{% endif %}">{{ self.name }}</i>
    {% endif %}
</div>