/*===========================================
=            BOOTSTRAP VARIABLES            =
===========================================*/
// Dark Red
$brand: rgba(164, 63, 51, 1);
$text-brand: rgba(185, 74, 72, 1);
.text-brand { color: $text-brand; }
// Dark Blue
$secondary: rgba(59, 83, 108, 1);
.text-secondary { color: $secondary; }
$white: #fff;
$dark-brown: rgba(64, 63, 60, 1);
$white-smoke: rgba(236, 236, 236, 1);
$concrete: rgba(149, 165, 166,1.0);
$aqua-island: rgba(162, 222, 208, 1);
$gold: #c58e47;
.text-aqua { color: $aqua-island; }
// Dark Gray
$body-text: rgba(54, 53, 50, 1);
$hyper-link: rgba(15, 116, 128, 1);
$hyper-link-feature: rgba(85, 186, 198, 1);
$hyper-link-md-bg: rgba(0, 57, 69, 1);
$hyper-link-dark-bg: rgba(91, 192, 204, 1);
$enable-responsive-font-sizes: true;

// @import '../node_modules/@fortawesome/fontawesome-free/scss/_variables';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
    color: $body-text;
    font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', serif; }

a {
    font-family: 'Montserrat', serif;
    color: $hyper-link;
}

.btn-primary {
    background-color: $brand;
    border-color: $secondary;
    color: $white !important;
    &:hover {
        background-color: $secondary;
    }
}
.bg-success { background-color: $aqua-island !important; }
.bg-danger { background-color: $brand !important; }
.radial-gradient { background: radial-gradient(#ff9191,#5d8cae); }
.bg-sky-color { background-color: #4D8FAC; }
.bg-hanada { background-color: #403f3c; }
.bg-gold { background-color: $gold;  }
.bg-translucent, .btn-translucent {
    background-color: rgba(0 ,0, 0, 0);
    border-color: $brand;
    color: #000000;
}

.assistive-text { /*For accessibility to skip navigation*/
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

/* ICON SIZE */
[class*='fa-'], .material-icons {
    color: $brand;
    &.sm {
        font-size: 18px;
    }
    &.md {
        font-size: 36px;
    }
    &.lg {
        font-size: 48px;
    }
    &.xl {
        font-size: 120px;
    }
}
/* ICON COLOR */
[class*='fa-'] {
    color: $brand;
}


/*====================================
=            FEATURE TEXT            =
====================================*/
.feature-text {
    a {
        color: $hyper-link-feature;
    }

}


/*==============================
=            HEADER            =
==============================*/
nav {
    &.bg-dark {
        background-color: $secondary !important;
    }
    &.navbar {
        .navbar-nav {
            .nav-item {
                text-transform: uppercase;
                font-size: 0.969rem;
                .nav-link {
                    color: $white;
                    &:hover {
                        background-color: $white;
                        color: $brand;
                    }
                    &.active {
                        background-color: $white;
                        color: $brand;
                    }
                }
            }
        }
        .list-unstyled {
            .sales-btn {
                &:hover {
                background-color: $dark-brown !important;
                color: $white !important;
                }
            }
        }            
    }
}


/*===============================
=            CONTENT            =
===============================*/
/* Blocks */
.rich-text {
    p {
        font-size: 0.9rem;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}


article {
    &.white-smoke {
        background-color: $white-smoke;
    }
    &.aqua-island {
        background-color: $aqua-island;
    }
    &.concrete {
        background-color: $concrete;
        a { color: $hyper-link-md-bg }
    }
}


/* Hero Images */
.hero-image figure {
    position: relative; 
    width: 100%; /* for IE 6 */
    figcaption {
        max-width: 45%;
        background-color: rgba(164, 63, 51, 0.82);
        position: absolute;
        top: 65%;
        left: 10%;  
        transform: translate(-10%, -65%);
        h2 {
            color: #f0f0f0;
            font-size: 1.4rem;
            letter-spacing: -0.03rem;
        }
        small {
            color: #e5e5e5;
        }
    }
    .photo-credit {
        position: absolute; /* absolute position (so we can position it where we want)*/
        bottom: 0; /* position will be on bottom */
        width: auto;
        right: 0;
        background-color: #000;
        color: #fff;
        opacity: 0.5; /* transparency */
        filter: alpha(opacity=50); /* IE transparency */
    }
}

/*===============================
*            MOSQUE             *
===============================*/
.mosque {
     $blue: rgba(17, 68, 97, 1);
    .text-blue { color: $blue }
    h2 { color: $blue; }
    a { color: white; }
    .btn-gold {
        background-color: $gold;
        border-color: $white;
        color: $white;
        &:hover {
            background-color: $secondary;
        }
    }
    &.mosque-radial-gradient { background: radial-gradient(#1299ce,#e5c087); }
}


/*=============================
=            FORMS            =
=============================*/
form {
    p {
        @extend .row;
        span.helptext {
            @extend .small;
        }
        textarea {
            @extend .form-control;
            &[required=""]:focus {
                border-color: rgba(164, 63, 51, 1);
                box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
            }
        }
    }
    input {
        &[type="text"], &[type="remail"] {
            @extend .form-control;
        }
        &[required=""]:focus {
            border-color: rgba(164, 63, 51, 1);
            box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
        }

        &[type="submit"] {
            @extend .btn, .btn-primary;
        }
    }
}


/*==============================
=            FOOTER            =
==============================*/
footer {
    background-color: $dark-brown;
    font-size: 0.87rem;
    overflow: hidden;
    ul {
        li {
            a {
                color: $hyper-link-dark-bg;
                &:hover {
                    color: $white;
                }
            }
        }
        &.footer-left li {
            a {
                &:hover {
                    i {
                        text-decoration: none;
                        color: #2790B0;
                    }
                }
            }
        }
    }
}


/*=====================================
=            MEDIA QUERIES            =
=====================================*/
/* Large desktop */
@media (min-width: 992px) {
    .mosque {
        #intro {
            .feature-text, .btn-gold {
                position: relative;
                top: 120px;
            }
        }
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1100px) {  
    .feature-text {
        .feature-text-2 {
            font-size: 1.2rem;
        }
        .feature-text-3 {
            font-size: 0.9rem;
        }
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    /* HERO IMAGES */
    .hero-image figure {
        figcaption {
            h2 {
                font-size: 1.2rem;
            }
            p {
                font-size: 0.78rem;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 525px) {
    h1 {
        font-size: 2rem;
    }
    .table {
        font-size: 0.82rem;
    }
    /* HERO IMAGE */
    .hero-image figure {
        figcaption {
            max-width: 55%;
            h2 {
                font-size: 0.9rem;
            }
            p {
                line-height: 0.7rem;
            }
        }
        .photo-credit {
            font-size: 0.7rem;
        }
    }
}